<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Tabular Data Harmonization (TDH)</title>
</head>

<body style="background-color:#19232d;">
<div align="center">
   <img src="{{ url_for('static', filename='images/safeaorta.png') }}" width="500" height="150">
   <h3 style="color:white;font-family:Calibri;text-align:center">Upload Required Files for Tabular Data Harmonization</h3>
   <form method="post" enctype="multipart/form-data">
       <label style="color:white;font-family:Calibri;text-align:center">Select the data quality evaluation report (.xlsx):</label>
       <input type="file" name="report" style="color:white;" required>
       <br><br>
       
       <label style="color:white;font-family:Calibri;text-align:center">Select the data model (.xml/.owl):</label>
       <input type="file" name="xml" style="color:white;" required>
       <br><br>
       
       <label style="color:white;font-family:Calibri;text-align:center">(Optional) Select a tabular dataset for harmonization (.csv):</label>
       <input type="file" name="dataset" style="color:white;">
       <br><br>
       
       <input type="submit" value="Submit" style="margin-top: 25px; margin-bottom: 25px">
   </form>

    {% if success %}
        <p style="color: rgb(13, 195, 25);font-family: Calibri">{{ message }}</p>
        {% if harmonized_file %}
            <a href="{{ url_for('download_file', filename=harmonized_file) }}" style="color:white;">Download Harmonized Dataset</a>
        {% endif %}
    {% elif message %}
        <p style="color: red;font-family: Calibri">{{ message }}</p>
    {% endif %}

    <div style="display: flex; justify-content: center; align-items: center; font-family: Calibri;">
        <p style="color: rgba(255, 255, 255, 0.79); margin-right: 10px;">Developed by</p>
        <img src="{{ url_for('static', filename='images/MEDLAB.png') }}" width="50" height="80">
    </div>
</div>
</body>
</html>
